.container {
    border-bottom: 1px solid white;
    padding: 16px;
    margin-top: 16px;
}
.add-category-header {
    color: var(--Greyscale-White, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}

.label-category {
    color: var(--Greyscale-White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}

.button-add-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 12px;
    width: 100%; 
    padding: 12px;
    cursor: pointer;
    background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0.00) 43.25%, rgba(255, 127, 55, 0.50) 100%), #FF7966;
    border: none;
    border-radius: 999px;
    box-shadow: 0px 8px 25px 0px rgba(255, 121, 102, 0.50);
}

.list-spending {
    display: grid;
    gap: 12px;
    margin-top: 16px;
    padding: 16px;
}

.spending-sub {
    border-radius: 12px;
    background: #353542;    
    border-radius: 12px; 
    border: 0.8px solid #979797;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-spending {
    color: white;
}