input:focus {
    outline: none;
}
.home-search-header {
    display: flex;
    padding: 12px 12px 0 12px;
    align-items: center;
}
.input-search{
    width: 100% !important;
    background: #1D1D1D !important;
    border-radius: 12px !important;
    width: 100% !important;
    color: white !important;
}

.items {
    display: grid;
    gap: 8px;
    padding: 16px;
  }
  .items-sub {
    padding: 16px;
    display: flex;
    height: 64px;
    border-radius: 16px;
    background: #353542;
    align-items: center;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid #f3f3f8;
    justify-content: space-between;
    align-items: center;
  }
  .filter-box {
    position: absolute;
    top: 48px;
    right: 0;
    padding: 12px;
    border-radius: 12px;
    width: 50%;
    z-index: 1;
    color: white;
  }