.back-to-login {
    width: 100%;
    text-align: center;
    color: white;
    font-style: italic;
    display: block;
    text-decoration: underline;
    margin-top: 20px;
}

.btn-request {
    margin: 24px 0 0 0px;
    padding:15px;
    cursor: pointer;
    background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0.00) 43.25%, rgba(255, 127, 55, 0.50) 100%), #FF7966;
    border: none;
    border-radius: 999px;
    font-weight: 500;
}